.landing-type-img{
	margin: 0 auto;
  border: 20px solid #eee;
  text-align: center;
  border-radius: 100px;
}

.no-team{
	border:0;
}

.logo-style{
	max-width: 280px;
}

.row-center{
	text-align: center;
}

.navbar-brand img {
  width: 150px;
}

.panel-empty {
  position: relative;
  border: 2px dashed #e5e5e5;
  box-shadow: none;
  padding: 60px 13.33px;
  text-align: center;
  border-color: #d8d8d8;
  background-color: transparent;
}

.red{
    color: #cb524a;
}

.panel-heading .account-name{
  font-size: 1.8em;
}

.account-info .account-info-title{
  font-weight: bold;
}

.account-header-btn{
  margin-top: 5px;
}